<div class="search-container">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="search-form">
    <select class="form-control" (change)="changeCategory($event)">
      <option [defaultSelected]="true" value="{{ default }}">All films</option>
      <option *ngFor="let category of categories">
        {{ category | titlecase }}
      </option>
    </select>
    <input
      type="text"
      class="search-input"
      name="search"
      ngModel
      placeholder="Search {{
        currentCategory === 'Classics'
          ? 'classic '
          : currentCategory === ''
          ? ''
          : (currentCategory + ' ' | lowercase)
      }}films"
    />
    <button class="search-button">Submit</button>
  </form>
</div>
