.search {
  &-form {
    width: 100%;
    max-width: 1200px;
  }
  &-input {
    margin-left: 10px;
    padding: 10px;
    width: 300px;
    outline: none;
    border: none;
  }

  &-button {
    border: none;
    outline: none;
    background: blue;
    padding: 10px;
    border-left: 1px solid black;
    color: white;
    font-weight: 500;
    transition-duration: 0.3s;
    cursor: pointer;
  }
}
