@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf)
    format("truetype");
}

$font-stack: "Montserrat", Helvetica, sans-serif;

body {
  background-color: #151515;
  padding-top: 60px;
  height: 100%;
}

body * {
  font-family: $font-stack;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
